body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}
.montana {
	margin: 0 auto;
	max-width: 1024px;
}
.montana h1 {
	text-align: center;
	font-size: 2em;
	padding: 0;
	margin: 0 0 10px;
}
.montana .controls {
	margin: 8px 0;
}
.montana .table {
	background-color: darkgreen;
	padding: 10px;
}
.montana .table>div {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(13, 1fr);
	aspect-ratio: 7 / 3.2;
	gap: 0.2em 0.2em;
	margin: 0 auto;
	max-width: 1024px;
}
.montana .pile {
	width: 100%;
	border-radius: 6%;
	border: 1px solid #333;
	user-select: none;
	position: relative;
	cursor: pointer;
	font-size: 40px;
}
.montana .card {
	width: 100%;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
	user-select: none;
	cursor: pointer;
	position: absolute;
}
.montana img.card {
	width: 100%;
	border-radius: 6%;
	border: 1px solid #000;
}
.montana .card.selected {
	box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
	opacity: 0.5;
}
.montana .clubs {
	color: black;
}
.montana .diamonds {
	color: red;
}
.montana .hearts {
	color: red;
}
.montana .spades {
	color: black;
}
.montana .game-over {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1001;
	display: flex;
}
.montana .game-over>div {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	color: black;
	width: 380px;
}
.montana .game-button {
    font-family: Arial, Verdana, Tahoma;
    font-size: 1em;
    padding: .2em .4em;
    border-radius: 6px;
    border: 1px solid gray;
    background: #eee;
    opacity: 0.9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #000;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    vertical-align: middle;
    line-height: 1.5em;
}
@media (max-width: 600px) {
	.montana .game-button {
		font-size: .8em;
		padding: .1em .2em;
	}
	.montana .table>div {
		gap: 0.2em 0.1em;
	}
}
